---
layout: default
---

    <header class="header">
        <div class="container">                       
            <div class="profile-content pull-left">
                <h1>{{ page.title }}</h1>
                <p class="meta">{{ page.date | date_to_string }}</p>
            </div><!--//profile-->
	    <div class="profile-links pull-right">
		<a class="btn btn-cta-primary" href="/"><i class="fa fa-home"></i> Home</a>
		<a class="btn btn-cta-primary" href="/datascience"><i class="fa fa-pie-chart"></i> My Blog</a>
	    </div><!-- link to other pages -->
        </div><!--//container-->
    </header><!--//header-->

<div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <div class="content">
                          
                            {{ content }}

                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->

                <section class="about section">
                    <div class="section-inner">
                        <div class="content">
                          
                            {% include disqus.html %}

                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->
	    </div><!--//primary-->
		
	    <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading">Recent Posts</h2>
                        <div class="content">
                            <ul class="posts">

	  			{% for post in site.posts %}
	    				<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  			{% endfor %}
				    
			    </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
		
   </div><!--//row-->
</div><!--//masonry-->


